**Q1**. Using Python script as a calculator
Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then evaluate the following expression in the Python console.
ùê¥ = ùëù (1 + ùëü/ 100)n

a. 100  
b. 162.89  
c. 189  
d. None of the above  

### Answer: `(b) 162.89`

In [11]:
# Solution:
n = 10
r = 5
p = 100
result = p*(1+(r/100))**n
print(f"Result: {result}")

Result: 162.8894626777442

**Q2**. In a given string format operation, how will you print the given string.  
A = 10  
B = 20  
Str = "There are {} students in the class, with {} who play at least one sport."  

a. print(string.format(a,b))  
b. print(string+a+b)  
c. print(string.format(b,a))  
d. None of the above  

### Answer: `(d) None of the above`  

`Note` Capitalize variables in option (a) and then it will work

In [15]:
# Solution:
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."
print(Str.format(A, B)) ## Capitalized A and B

There are 10 students in the class, with 20 who play at least one sport.

**Q3**. In a given sample string, How do you print a double quoted string in between a regular string using the escape character?  
Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.  

a. print(‚ÄúIt goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.‚Äù)  
b. print(‚ÄúIt goes without saying, \Time is Money\, and none can deny it.‚Äù)  
c. print(‚ÄúIt goes without saying‚Äù + ‚ÄúTime is Money‚Äù + ‚Äúand none can deny it.‚Äù)  
d. None of the above.  

### Answer: `(a)`

In [18]:
# Solution
print("It goes without saying, \"Time is Money\", and none can deny it.")

It goes without saying, "Time is Money", and none can deny it.

**Q4**. What will be the output of the following code?  
x = lambda a,b: a//b  
x(10,3)  

a. 3.3333333333  
b. 3  
c. 30  
d. 1000

## Answer `b. 3`

In [19]:
# Solution
x = lambda a,b: a//b
x(10,3)

3

**Q5.** What will be the output of the following code?  
  A = 10  
  B = 12  
  print("Smaller") if A == B else print("Greater") if A < B else print("True")  

a. True  
b. Smaller  
c. Greater  
d. None of the above  

## Answer: `c. Greater`  

## Explanation:  
- First condition: `A == B` is `False`, so `Smaller` is not printed  
- Second condition: `A < B` is `True`, so `Greater` is printed
- The last `else` is not executed as second condition is `True`.

In [20]:
  A = 10
  B = 12
  print("Smaller") if A == B else print("Greater") if A < B else print("True")

Greater

Q6. What will be the output of the following code?
```python
import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
print(my_list1)
arr_1 = numpy.array(my_list1, dtype = int)
print(arr_1)
```  

a. [2 7 3 5 4 6]  
b. TypeError  
c. NameError: name 'numpy' is not defined  
d. None of the above  


### Answer: `c. NameError: name 'numpy' is not defined`

In [25]:
# Fixed code
import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
print(my_list1)
# arr_1 = numpy.array(my_list1, dtype = int) # Orginal
arr_1 = np.array(my_list1, dtype = int)  # Fixed
print(arr_1)

[2, 7, 3, 5, 4, 6]
[2 7 3 5 4 6]

**Q7**. Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s) is/are appropriate to slice the substring ‚ÄúLearn‚Äù?  

a. string[slice(13,8,1)]  
b. string[slice(1,8,1)]  
c. string[8:14]  
d. string[slice(8,13,1)]

### Answer: `d. string[slice(8,13,1)]`  

#### Explanation:
```text
 # String indexes
 M  a  c  h  i  n  e     L  e  a  r  n  i  n  g
 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15
```
"Learn" starts at index 8 and ends at 12 in the string.  
Syntax `slice(start, stop, step)`:  
- `start=8` means begin slicing at index 8 (inclusive).  
- `stop=13` means stop slicing before index 13 (exclusive), so it stops at index 12.  
- `step=1` means take every character one by one from `start` to `stop`.

In [35]:
string = "Machine Learning"
print(f"{string[slice(13,8,1)]}")
print(f"{string[slice(1,8,1)]}")
print(f"{string[8:14]}")
print(f"{string[slice(8,13,1)]}")

achine
Learni
Learn

**Q8**. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index of the value 18?  

a. 3  
b. 2  
c. 0  
d. 1

### Answer: `b. 2`  

### Explantion:
start = 10  
end = 25  
step = 4  
Resulting sequence `10, 14, 18, 22` where
`18` is at index `2`

In [48]:
# Solution
mylist = list(range(10, 25, 4))
print(f"{mylist}")
value = 18
index = mylist.index(18)
print(f"Value {value} is at index {index}")

[10, 14, 18, 22]
Value 18 is at index 2

Q9. Which of the following is true with respect to the below codes?  
```python
num1 = 5**4
num2= pow(5,4)
print(num1, num2)
```

a. num1 = num2  
b. num1 ‚â† num2  
c. num1 < num2  
d. num1 > num2  

### Answer:  `a. num1 = num2`

In [49]:
# Test
num1 = 5**4
num2= pow(5,4)
print(num1, num2)

625 625

**Q10**.A Python NameError exception is raised when:-  

a. Trying to access a variable which has not been defined  
b. Trying to access a key in a dictionary that does not exist  
c. Accessing a column with misspelled column name  
d. Accessing the function from a module that has not been imported  

### Answer: `a. Trying to access a variable which has not been defined`

In [78]:
# Code sample for given options

# a. Trying to access a variable which has not been defined
try:
    print(var)  # var is not defined
except NameError as e:
    print(f"NameError: {e}")

# b. Trying to access a key in a dictionary that does not exist
my_dict = {'a': 1, 'b': 2}
try:
    print(my_dict['c'])  # 'c' key does not exist
except KeyError as e:
    print(f"KeyError: {e} -- this key does not exist in dictionary")

# c. Accessing a column with misspelled column name
try:
  import pandas as pd

  df = pd.DataFrame({'Name': ['John', 'Jane'], 'Age': [23, 29]})
  print(df['Aeg'])  # Misspelled 'Age' column
except KeyError as e:
    print(f"KeyError: {e}  -- this column key does not exist")

# d. Accessing the function from a module that has not been imported (NameError):
try:
  print(sqrt(16))  # sqrt function is used without importing math module
except NameError as e:
    print(f"NameError: {e} -- sqrt function accessed without importing")

NameError: name 'var' is not defined
KeyError: 'c' -- this key does not exist in dictionary
KeyError: 'Aeg'  -- this column key does not exist
NameError: name 'sqrt' is not defined -- sqrt function accessed without importing

Q11.What type of exception will be raised for the code given below?  
```python
x = "string"
int(x)
```
a. NameError  
b. KeyError  
c. ValueError  
d. AttributeError  

### Answer: `c. ValueError`  

### Explanation
int() cannot convert a non-numeric string like "string" to an integer.

In [80]:
x = "string"
int(x)

ValueError: invalid literal for int() with base 10: 'string'

**Q12**. A FileNotFoundError exception is raised by operating system errors when: -  

a. Trying to create a file or directory which already exists  
b. A file or directory is requested but does not exist in the working directory  
c. Trying to run an operation without the adequate access rights  
d. A directory operation, os.listdir() is requested on something which is not a directory

### Answer: `b. A file or directory is requested but does not exist in the working directory`

In [82]:
# Code sample
try:
  with open("non_existent_file.txt", "r") as file:
    content = file.read()
except FileNotFoundError as e:
    print(f"FileNotFoundError: {e} -- Non existent file accessed")

FileNotFoundError: [Errno 2] No such file or directory: 'non_existent_file.txt' -- Non existent file accessed

**Q13**.Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -  

a. Complex  
b. Character  
c. Integer  
d. Boolean  

### Answer: Data type is `string`
`b. Character` is closest to but Python doesn‚Äôt have a separate char data type. A single charater is also classified as a `string` object

In [89]:
# Code to check the data types
Z = "ID-5632"
print(f"Data type of Z is {type(Z)}")
a='a'
print(f"Data type of a is {type(a)}")

Data type of Z is <class 'str'>
Data type of a is <class 'str'>

**Q14**.Which of the following variable(s) are character data type?  

a. K= ‚Äú4‚Äù  
b. J= ‚ÄúWelcome‚Äù  
c. L= ‚Äú?‚Äù  
d. All of the above  

### Answer:
In Python, anything enclosed in quotes‚Äîsingle (') or double (") is treated as a string. So a, b, c are all strings (essentially characters). The question is taking about character data type so `d. All of the above`

In [87]:
# Code to check the data types
K= "4"
J= "Welcome"
L= "?"
print(f"variable K is of type {type(K)}")
print(f"variable J is of type {type(J)}")
print(f"variable L is of type {type(L)}")

variable K is of type <class 'str'>
variable J is of type <class 'str'>
variable L is of type <class 'str'>

**Q15**. Choose the symbol/s that does not have the ability to convert any values to string?  

a. ( )  
b. ‚Äú ‚Äù  
c. {}  
d. #  

### Answer: `d. #`

### Explanation:
`()` => tuple notation, It can be converted to a string by str function  
`""` => string notation.  
`{}` => Dictionary notation, can be converted to string by str function  
`#` => comment symbol in Python. Cannot be converted to a string because it is not a value.

In [104]:
# Test code
tup = ()
dt = {}
s = ""
#h = #
print(f"tup: {type(tup)} converted to {type(str(tup))}")
print(f"d1: {type(dt)} converted to {type(str(dt))}")
print(f"s: {type(s)}")

tup: <class 'tuple'> converted to <class 'str'>
d1: <class 'dict'> converted to <class 'str'>
s: <class 'str'>

** Q16**. Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals respectively:

|Country |India |China |Japan |Qatar |France|
|--------|------|------|-------|-----|------|
|State   |Delhi |Beijing |Tokyo |Doha |Marseilles|

Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:

### Answer:
```python
# Dictionary
dt = {
    "India": "Delhi",
    "China": "Beijing",
    "Japan": "Tokyo",
    "Qatar": "Doha",
    "France": "Marseilles"
}

# Command1
dt["France"] = "Paris"
# # Command2
dt.update({"France": "Paris"})
```

In [110]:
# Solution:
dt = {
    "India": "Delhi",
    "China": "Beijing",
    "Japan": "Tokyo",
    "Qatar": "Doha",
    "France": "Marseilles"
}

print(f"Before: Capital of France: {dt['France']}")

dt["France"] = "Paris"
print(f"After1: Capital of France: {dt['France']}")

dt.update({"France": "Paris"})
print(f"After2: Capital of France: {dt['France']}")

Before: Capital of France: Marseilles
After1: Capital of France: Paris
After2: Capital of France: Paris

**Q17**. Create the tuples given below  
tuple_1 = (1,5,6,7,8)  
tuple_2 = (8,9,4)  
Identify which of the following code does not work on a tuple.  

a. sum(tuple_1)  
b. len(tuple_2)  
c. tuple_2 + tuple_1  
d. tuple_1[3] = 45  

### Answer  `d. tuple_1[3] = 45`

#### Explanation:
Tuples are immutable, so you cannot modify specific elements in a tuple using indexing.
tuple_1[3] = 45 will raise a TypeError.

In [113]:
# Code sample
tuple_1 = (1, 5, 6, 7, 8)
tuple_2 = (8, 9, 4)

print(sum(tuple_1))
print(len(tuple_2))
print(tuple_2 + tuple_1)

try:
  tuple_1[3] = 45         # Raises TypeError
except TypeError as e:
  print(f"TypeError: {e}")

27
3
(8, 9, 4, 1, 5, 6, 7, 8)
TypeError: 'tuple' object does not support item assignment

**Q18**. How many elements in the following data structure?  
S={1, 2, 3, 4, 4, 4, 5, 6}

### Answer: 6

### Explanation
S is a set. Duplicate 4's are ignored.

In [121]:
# Code test
S={1, 2, 3, 4, 4, 4, 5, 6}
#print(type(S))
print(len(S))

6

**Q19**. Write a function which finds all pythagorean triplets of triangles whose sides are not greater than a natural number N.

In [137]:
import math

def is_valid_pythagorean_triplet(a, b, N):
    """
    Given sides a, b and max side N,
    calculates c_squared, checks if it forms a valid Pythagorean triplet
    with c <= N.

    Returns (True, c) if valid, else (False, None).
    """
    c_squared = a**2 + b**2
    c = int(math.sqrt(c_squared))
    if c*c == c_squared and c <= N:
        return True, c
    return False, None


def find_pythagorean_triplets(N):
    triplets = []
    for a in range(1, N + 1):
        for b in range(a, N + 1):
            #print(f"Checking a={a}, b={b}")
            is_valid, c = is_valid_pythagorean_triplet(a, b, N)
            if is_valid:
                #print(f"Found triplet: ({a}, {b}, {c})")
                triplets.append((a, b, c))
    return triplets

if __name__ == '__main__':
  # Test 1
  N = 10
  print(f"Pythagorean triplets up to {N}:")
  triplets = find_pythagorean_triplets(N)
  for triplet in triplets:
      print(triplet)

  # Test 2
  N = 15
  print(f"Pythagorean triplets up to {N}:")
  triplets = find_pythagorean_triplets(N)
  for triplet in triplets:
      print(triplet)

  # Test 3
  N = 20
  print(f"Pythagorean triplets up to {N}:")
  triplets = find_pythagorean_triplets(N)
  for triplet in triplets:
      print(triplet)

Pythagorean triplets up to 10:
(3, 4, 5)
(6, 8, 10)
Pythagorean triplets up to 15:
(3, 4, 5)
(5, 12, 13)
(6, 8, 10)
(9, 12, 15)
Pythagorean triplets up to 20:
(3, 4, 5)
(5, 12, 13)
(6, 8, 10)
(8, 15, 17)
(9, 12, 15)
(12, 16, 20)